<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="edu.hexa.leejaehoon.projectinfo">
	
	<select id="selectProject" resultType="edu.hexa.leejaehoon.domain.ProjectInfoVO">
		select category, pname, intro, start, end from springtest.project;
	</select>


</mapper>