<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="edu.hexa.leejaehoon.projectinfo">
	
	<select id="selectProject" resultType="edu.hexa.leejaehoon.domain.ProjectInfoVO">
	SELECT p.pid, p.category, p.pname, p.intro, p.start, p.end, r.rbno
FROM pentacore.project AS p 
JOIN pentacore.recruit_project AS r
ON p.pid = r.pid
WHERE p.pid IN (SELECT pid FROM pentacore.project_leader WHERE leader_uid = #{uid })
	</select>
	

</mapper>