<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.hexa.minjee.RegisterMapper">

	<!-- 회원가입 연동 후 user_id 추가 -->
	
	<insert id="insert_project">
	insert into project(pid, pname, category, start, end, intro, district)
	values (#{pid}, #{pname}, #{category}, #{start}, #{end}, #{intro}, #{district})
	</insert>
	
	<insert id="insert_part">
	insert into manage_project_part(pid, part)
	values (#{pid}, #{part})
	</insert>
	
	<insert id="insert_skill">
	insert into required_skill(pid, skill_1)
	values (#{pid}, #{skill_1})
	</insert>
	
	
</mapper>