<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.hexa.minjee.RegisterMapper">

	<!-- 회원가입 연동 후 user_id 추가 -->
	<insert id="insert_team">
	insert into team(team_id, team_name, team_intro)
	values (#{team_id}, #{team_name}, #{team_intro})
	</insert>
	
	<insert id="insert_project">
	insert into project(project_id, team_id, project_start, project_end)
	values (#{project_id}, #{team_id}, #{project_start}, #{project_end})
	</insert>
	
	

</mapper>